* {
    margin: 0;
    padding: 0;
}

/* Banner style */
.banner-title {
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    padding: 300px 230px 0px 1500px;
}

.banner-description {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    padding: 24px 230px 5px 1594px;
}

.banner-button {
    background: #F15B22;
    border-radius: 5px;
    padding: 21px 26px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;


}

.banner-button2 {
    padding: 32px 230px 380px 1500px;
}

.banner {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}

/* Failures list design */

.failure-container {
    display: flex;
    justify-content: space-evenly;
    gap: 74;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
}

.img {
    padding-left: 400px;
    padding-top: 100px;
}

.failures-title {
    font-weight: 700;
    font-size: 50px;
    color: #151414;
    text-align: left;
    padding: 310px 450px 2px 88px;
}

.failures-description {
    font-weight: 400;
    font-size: 25px;
    color: #444343;
    padding: 20px 450px 2px 88px;
    text-align: left;
}

ul {
    font-weight: 400;
    font-size: 25px;
    color: #444343;
    padding: 15px 450px 216px 88px;
}

/* Goals styling */
.plans {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
}

.goals-container {
    display: flex;
    margin-top: 55px;
    margin-left: 400px;
    margin-bottom: 130px;
}

.goals {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    align-items: center;
    margin: 0px 30px 10px 100px;
}

.goals-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-align: center;
}

.goals-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* stylying gradient part */
.gradient-text-container {
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 130px;
}

.gradient-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 69px 617px 59px 64px;
    text-align: center;
}

.call {
    margin-left: 720px;
    margin-top: 0px;
    margin-bottom: 59px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    color: #F15B22;

}

/* Footer part styling */
.footer-container {
    background-color: #151414;
    display: flex;
    align-items: center;
}

.footer-1st-part {
    padding: 130px 885px 130px 230px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 21px;
    margin-bottom: 20px;
}

.footer-email {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-phone {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 32px;
}

/* FOOTER 2ND PART STYLING */
.footer-2nd-title {
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;

}

.footer-form {
    width: 325px;
    height: 64px;
    margin-top: 27px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
}

.subscribe {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 36px;
    border-radius: 8px;
}